<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nfchotel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

    
        
        <activity
            android:name="com.example.nfchotel.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.nfchotel.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>        
            <activity
            android:name="com.example.nfchotel.MainActivity"
            android:label="@string/app_name" >
       
        </activity>
      
        
       
        <activity android:name="com.example.nfchotel.ChineseActivity"></activity> 
         <activity android:name="com.example.nfchotel.DessertsActivity"></activity>
          <activity android:name="com.example.nfchotel.RotiActivity"></activity>
        <activity android:name="com.example.nfchotel.VegmenuActivity"></activity>
        <activity android:name="com.example.nfchotel.NonvegmenuActivity"></activity>
        
           
        <activity android:name="com.example.nfchotel.ProductDetailsActivity"></activity>
        <activity android:name="com.example.nfchotel.ShoppingCartActivity"></activity>
        <activity android:name="com.example.nfchotel.CatalogActivity"></activity>
          <activity android:name="com.example.nfchotel.CallforwaiterActivity"></activity>
           <activity android:name="com.example.nfchotel.RequestforbillActivity"></activity>
      <activity android:name="com.example.nfchotel.CommentActivity"></activity>
    </application>
                


</manifest>


